th{
    border: 5px solid maroon;
    padding: 5px;
}

table{
    width: 80%;
    border-spacing: 0px;
    background-color: aqua;
    
}

button{
    border: none;
    background-color: aqua;
    color:black;
    width: 100%;
}

#col2{
    background-color: white;
}
